.recipe-detail {
  height: 100%;
  justify-content: center;
  display: flex;

  padding: 20px;
}

.recipe-content {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.recipe-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.recipe-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipe-category, .recipe-area {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.recipe-instructions, .recipe-ingredients {
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

.recipe-instructions p, .recipe-ingredients ul {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

.recipe-ingredients ul {
  padding-left: 20px;
}

.recipe-video {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.recipe-video:hover {
  background-color: #e75b39;
}
